html{
    font-size: 62.5%; /*Reset para REMS 62.5% = 10 pixeles*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

p{
    font-size: 1.8rem;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2rem;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem; /*120 rem = 1200 pixeles*/
    margin: 0 auto;
}

.contenido-centrado{
    max-width: 60%;
}

/*Utilidades*/
.seccion{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

.d-block{
    display: block;
}

/*Botones*/
.boton{
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    border-radius: 1rem;
}

.boton-amarillo{
    background-color: #E08709;
}

.boton-verde{
    background-color: #71b100;
}

/*Header*/
.site-header{
    background-color: #333333;
    padding-bottom: 2rem;
}

.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1{
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 1.8;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

/*Navegacion*/
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem; /*1.8 rems = 18pixeles*/
    margin-right: 2rem;
}

.navegacion a:hover{
    color: chartreuse;
}

.navegacion a:last-of-type{
    margin-right: 0;
}

/* Iconos Apartado: Sobre nosotros*/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 1.5rem);
    text-align: center;
}

.icono h3{
    text-transform: uppercase;
}

/*Casas y Depas en venta*/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    /*Wrap se usa para dividir la vista de los elementos*/
    
}

.anuncio{
    flex-shrink: 0;     /*Bloquear el crecimiento descendente del elemento*/
    flex-grow: 0;       /*Bloquear el crecimiento ascendente del elemento*/
    flex-basis: calc(33.3% - 1.5rem);
    border: 1px solid #858585;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio{
    padding: 2rem 4rem;
}

.contenido-anuncio h3, .contenido-anuncio p{
    margin-top:0;
}

.precio{
    color:#71b100;
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas li{
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 1rem;
}
.iconos-caracteristicas p{
    margin-bottom: 0;
    margin-right: 1rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}


/*CONTACTO HOME*/

.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 1;
    color: aliceblue;
}

.contenido-contacto p{
    font-size: 1.8rem;
}

.contenido-contacto h2{
    font-size: 3rem;
}

/*SECCION INFERIOR*/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

/* SECCION INFERIOR: Blog*/
.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

.entrada-blog .imagen{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a{
    color: black;
    text-decoration: none;
}

.texto-entrada h4{
    margin-top: 0;
}

.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.texto-entrada span{
    color: #E08709;
}

/*SECCION INFERIOR: Testimoniales*/
.testimonial{
    background-color: #71b100;
    border-radius: 1.5rem;
    font-size: 2rem;
    color: white;
    padding: 2rem;
}

.testimonial p{
    text-align: right;
}

.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
}


/*Footer*/

.site-footer{
    background-color:#333333 ;
    margin-bottom:0;
}

.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin:0;
    color: white;
}


/**Internas**/
.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /**Toma el contenido y lo divide en la cantidad de fracciones que quieras**/
    grid-column-gap: 2rem;
}

.texto-nosotros{
    text-align: justify;
}

.texto-nosotros blockquote{
    font-weight: 800;
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem 0;
}


/** Anuncio **/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resumen-propiedad ul li{
    margin-right: 1.5rem;
}


/**     CONTACTO    **/
label{
    display: block;
}